body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.8;
  margin: 0;
  color: #3a3a3a;
  background: #f8f8f8;
  text-rendering: optimizeLegibility;
}

header, nav, article, footer {
  margin-bottom: 2rem;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  transition: all 0.3s ease-in-out;
}

nav {
  background: none;
  box-shadow: none;
  margin-bottom: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li:not(:last-child) {
  margin-right: 1rem;
}

nav a {
  text-decoration: none;
  color: #5d5d5d;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

nav a:hover {
  color: #3498db;
}

h1, h2 {
  color: #333;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
  color: #3498db;
}

article p {
  text-align: justify;
}

footer {
  font-size: 0.8rem;
  text-align: center;
}

footer a {
  color: #3498db;
  text-decoration: none;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
